# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/
venv/

# Data folders to ignore (except .gitkeep)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Logs and temp files
*.log
*.tmp

# Mac system files
.DS_Store

# IDE settings
.vscode/
.idea/
